.right-bar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 10px 0;
}
.name {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
  background-color: lightpink;
}

.login,.sign-up {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
  background-color: lightpink;
  padding: 10px;
  border-radius: 10px;
}