<div class="mypage">
  <h2 class="mypage_heading">
    <%= "#{current_user.name}さんのページ" %>
  </h2>
  <table>
  <tr>
    <th>email</th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th>お気に入り</th>
    <td>1940年</td>
  </tr>
</table>
</div>