<header>
  <div class="header-bar">
    <a href="/" class="logo">Let's play badminton</a>
    <nav>
      <ul>
        <li><%= link_to "施設検索"%></li>
        <li><%= link_to "お問い合わせ", new_contact_path %></li>
      </ul>
    </nav>
  </div>
</header>